@font-face {
    font-family: "Source Serif Pro";
    src: url("/fonts/SourceSerifPro-Light.woff2") format("woff2"),
        url("/fonts/SourceSerifPro-Light.woff") format("woff");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("/fonts/SourceSerifPro-Regular.woff2") format("woff2"),
        url("/fonts/SourceSerifPro-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("/fonts/SourceSerifPro-SemiBold.woff2") format("woff2"),
        url("/fonts/SourceSerifPro-SemiBold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("/fonts/SourceSerifPro-Bold.woff2") format("woff2"),
        url("/fonts/SourceSerifPro-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: "Source Serif Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #fff;
    color: #212121;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1470px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    position: relative;
    padding-bottom: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
}

.title {
    font-size: 36px;
    letter-spacing: 3.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

/*Header*/
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header__container {
    display: flex;
    padding: 0;
    align-items: center;
    color: #878787;
}

.header__logo {
    margin-right: 80px;
    z-index: 10;
}

.header__burger {
	display: none;
}

.header__dropdown {
    position: absolute;
    left: 42%;
    top: 31%;
}

.bar1,
.bar2,
.bar3 {
    height: 2px;
	background-color: #3b3b3b;
    margin: 4px 0;
    cursor: pointer;
}

.bar1 {
    width: 25px;
}

.bar2, 
.bar3 {
	width: 16px;
}

.header__dropdown-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vw;
    background: url(img/dropdown-menu-bg.png) 106px 1px no-repeat #f8f8f8;
    z-index: 5;
}

.header__dropdown-list {
    padding-top: 269px;
}

.header__dropdown-link {
	font-size: 39px;
    position: absolute;
    letter-spacing: 3px;
    color: #212121;
    font-weight: 600;
    transition: border-bottom ease-in-out 0.1s;
    cursor: pointer;
}

.header__dropdown-item {
    margin-bottom: 81px;
    display: flex;
    justify-content: center;
}

.header__dropdown-link:hover {
    border-bottom: 6px solid #709c54;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 50px;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #f8f8f8;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.close-menu__bar1,
.close-menu__bar2 {
    position: absolute;
    top: 10px;
    right: -3px;
    width: 27px;
    height: 2px;
    background-color: #000;
    cursor: pointer;
}

.close-menu__bar1 {
    transform: rotate(45deg);
}

.close-menu__bar2 {
    transform: rotate(136deg);
}

.nav {
    padding-top: 14px;
    margin-right: 70px;
}

.nav-list {
    position: relative;
    display: flex;
}

.nav-list::before {
    position: absolute;
    content: "";
    height: 6px;
    top: 8px;
    left: -12px;
    width: 459px;
    background-color: #fff;
    z-index: 1;
}

.nav-item {
    margin-right: 88px;
    z-index: 2;
    transition: color ease-in-out 0.4s;
}

.nav-item:hover {
    color: #8eb574;
}

.header__phone:hover {
    color: #212121;
}

.header__phone {
    padding-top: 13px;
    font-size: 18px;
    transition: color ease-in-out 0.4s;;
}

/*Hero*/
.hero {
    background: url(img/bg.png) no-repeat top right #f8f8f8;
}

.hero__container {
    display: flex;
    padding: 0 131px 88px 131px;
}

.hero__info {
    margin-right: 127px;
    padding-top: 303px;
    padding-left: 24px;
}

.hero__title {
    margin-bottom: 23px;
    font-size: 48px;
    font-weight: 600;
}

.hero__descr {
    position: relative;
    margin-bottom: 29px;
    max-width: 300px;
}

.hero__img {
    padding-top: 159px;
}

.hero__btn::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 23px;
    height: 2px;
    width: 150px;
    background-color: #000;
    opacity: 0;
    z-index: 1;
    transition: opacity ease-in-out 0.4s;
}

.hero__btn:hover::before {
    opacity: 1;
} 

.hero__btn::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 113px;
    height: 2px;
    width: 26px;
    background-color: #000;
    z-index: 1;
}

/*Portfolio*/
.portfolio {
    background: url(/img/2section-leaves.png) no-repeat 96px 200px #fff;
    background-size: contain;
}

.portfolio__container {
    padding: 271px 165px 165px 165px;
}

.portfolio__list {
    display: flex;
}

.portfolio__img {
    margin-bottom: 9px;
}

.portfolio__title {
    position: relative;
    margin-bottom: 95px;
}

.portfolio__title::before {
    position: absolute;
    content: "";
    top: -137px;
    left: 50%;
    width: 2px;
    height: 38px;
    background-color: #cb98a8;
}

.portfolio__item-1 {
    margin-right: 20px;
    padding-top: 172px;
    width: 49%;
}

.portfolio__item-title {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 300;
    color: #343434;
}

.portfolio__item-descr {
    font-weight: 700;
}

.portfolio__item-group {
    margin-right: 20px;
    width: 37%;
}

.portfolio__item-2 {
    margin-bottom: 94px;
}

.portfolio__item-4 {
    padding-top: 200px;
    width: 36%;
}

.portfolio__details {
    padding: 0;
    background: url(/img/portfolio-detailed.png) no-repeat #fff;
}

/*Portfolio-detailed*/
.portfolio-detailed {
    background: url('/img/portfolio-detailed.png') no-repeat 2px -11px #fff;
}

.portfolio-detailed__container {
    padding: 103px 130px 300px 641px;
}

.portfolio-detailed__title {
    padding-top: 27px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}

.portfolio-detailed__descr {
    position: relative;
    margin-bottom: 34px;
    width: 270px;
}

.portfolio-detailed__descr::before {
    position: absolute;
    content: url(/img/detailed-portfolio-leaf.png);
    top: -86px;
    left: 570px;
}

.portfolio-detailed__descr::after {
    position: absolute;
    content: url(/img/pdf.png);
    top: 105px;
    left: 197px;
}

.portfolio-detailed__btn::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 23px;
    height: 2px;
    width: 174px;
    background-color: #000;
    opacity: 0;
    z-index: 1;
    transition: opacity ease-in-out 0.4s;
}

.portfolio-detailed__btn:hover:before {
    opacity: 1;
}

.portfolio-detailed__btn::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 138px;
    height: 2px;
    width: 26px;
    background-color: #000;
    z-index: 1;
}

/*About*/
.about {
    background: url(/img/about-bg.png) no-repeat 0px 20px #fff;
}

.about__container {
    padding: 154px 131px 120px;
}

.about__title {
    position: relative;
    margin-bottom: 219px;
}

.about__title::before {
    position: absolute;
    content: "";
    top: -139px;
    left: 50%;
    width: 2px;
    height: 38px;
    background-color: #cb98a8;
}

.about__info {
    padding: 0 115px 20px 749px;
    font-size: 14px;
    line-height: 19px;
}

.about__descr {
    margin-bottom: 30px;
}

.about__btn {
    position: relative;
    margin-top: 14px;
}

.about__btn::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 23px;
    height: 2px;
    width: 219px;
    background-color: #000;
    opacity: 0;
    z-index: 1;
    transition: opacity ease-in-out 0.4s;
}

.about__btn:hover::before {
    opacity: 1;
}

.about__btn::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 183px;
    height: 2px;
    width: 26px;
    background-color: #000;
    z-index: 1;
}

/*Price*/
.price {
    background: url(/img/price-leaves.png) no-repeat 124px 54px #fff;
}

.price__container {
    padding: 228px 167px 70px;
}

.price__title {
    position: relative;
    margin-bottom: 188px;
}

.price__title::before {
    position: absolute;
    content: "";
    top: -136px;
    left: 50%;
    width: 2px;
    height: 38px;
    background-color: #cb98a8;
}

.price__quantity {
    color: #8eb574;
    font-size: 18px;
}

.price__info {
    display: flex;
    justify-content: center;
}

.price__img {
    margin-bottom: 26px;
}

.price__item-title {
    margin-bottom: 46px;
    font-weight: 700;
    font-size: 24px;
    color: #8eb574;
}

.price__item-title-1 {
    position: relative;
    padding-left: 80px;
}

.price__item-title-1::before {
    position: absolute;
    content: "";
    top: 38px;
    left: 187px;
    width: 20px;
    height: 2px;
    background-color: #8eb574;
}

.price__item-title-1::after {
    position: absolute;
    content: "30 000 рублей";
    top: 28px;
    left: 218px;
    font-weight: 600;
    font-size: 18px;
    color: #8eb574;
}

.price__item-title-2 {
    position: relative;
    padding-left: 48px;
}

.price__item-title-2::before {
    position: absolute;
    content: "";
    top: 38px;
    left: 124px;
    width: 20px;
    height: 2px;
    background-color: #8eb574;
}

.price__item-title-2::after {
    position: absolute;
    content: "15 000 рублей";
    top: 28px;
    left: 153px;
    font-weight: 600;
    font-size: 18px;
    color: #8eb574;
}

.price__item-title-3 {
    position: relative;
    margin-bottom: 35px;
    padding-left: 53px;
}

.price__item-title-3::before {
    position: absolute;
    content: "";
    top: 36px;
    left: 134px;
    width: 20px;
    height: 2px;
    background-color: #8eb574;
}

.price__item-title-3::after {
    position: absolute;
    content: "4 000 рублей";
    top: 25px;
    left: 163px;
    font-weight: 600;
    font-size: 18px;
    color: #8eb574;
}

.price__descr {
    text-align: center;
}

.price__descr-1 {
    padding: 0 35px;
    width: 414px;
}

.price__descr-2 {
    width: 318px;
}

.price__descr-3 {
    width: 316px;
}

.price__item-1 {
    padding-top: 173px;
    margin-right: 29px;
}

.price__item-2 {
    margin-right: 29px;
}

.price__item-3 {
    padding-top: 198px;
}

/*Footer*/
.footer {
    background: url(/img/footer-bg.png) no-repeat 125px 163px #fff;
}

.footer__container {
    padding: 182px 112px 186px;
}

.footer__title {
    position: relative;
    font-size: 37px;
    font-weight: 500;
    text-transform: none;
}

.footer__title::before {
    position: absolute;
    content: "";
    top: -136px;
    left: 50%;
    width: 2px;
    height: 38px;
    background-color: #cb98a8;
}

.footer__item:not(:last-child) {
    margin-right: 79px;
}

.footer__item {
    transition: color ease-in-out 0.4s;
}

.footer__item:hover {
    color: #8eb574;
}

.footer__contacts {
    padding-top: 98px;
    padding-bottom: 40px;
    margin-bottom: 27px;
    background: url(/img/contacts-bg.png) no-repeat center 56px;
    color: #4e4d4e;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
}

.footer__contacts-list {
    display: flex;
    justify-content: center;
}

.footer__skype {
    position: relative;
    padding-left: 34px;
    letter-spacing: 1.4px;
}

.footer__skype::before {
    position: absolute;
    content: "///";
    left: 5px;
    color: #8eb574;
}

.footer__email {
    position: relative;
    padding-left: 43px;
    letter-spacing: 1.4px;
}

.footer__email::before {
    position: absolute;
    content: "///";
    left: 14px;
    color: #8eb574;
}

.footer__phone {
    position: relative;
    padding-left: 36px;
    letter-spacing: 1.4px;
}

.footer__phone::before {
    position: absolute;
    content: "///";
    left: 6px;
    color: #8eb574;
}

.footer__socials-list {
	display: flex;
	justify-content: center;
}

.footer__socials-link:not(:last-child) {
    margin-right: 20px;
}

.footer__socials--fb,
.footer__socials--inst, 
.footer__socials--vk,
.footer__socials--pin {
	display: inline-block; 
    background: url('../img/sprite.png') no-repeat; 
    width: 34px;
    height: 34px;
	cursor: pointer; 
	transition: background ease-in-out 0.4s;
} 

.footer__socials--fb {
    background-position: -20px -20px;
}

.footer__socials--fb:hover {
    background: url(/img/sprite-active.png) no-repeat -20px -20px;
}

.footer__socials--inst {
    background-position: -94px -20px;
}

.footer__socials--inst:hover {
    background: url(/img/sprite-active.png) no-repeat -94px -20px;;
}

.footer__socials--vk {
    background-position: -168px -20px;
}

.footer__socials--vk:hover {
    background: url(/img/sprite-active.png) no-repeat -168px -20px;
}

.footer__socials--pin {
    background-position: -242px -20px;
}

.footer__socials--pin:hover  {
    background: url(/img/sprite-active.png) no-repeat -242px -20px;
}

